/* ============================================================================
   @UTILITIES -> FLOAT
   ========================================================================= */


/**
 * Simply make an element floated or remove it.
 *
 * @demo
 * http://codepen.io/team/westfieldlabs/full/xFHfk#float
 */


@include generate-at-breakpoints(u-float-left) {
  float: left;
}

@include generate-at-breakpoints(u-float-right) {
  float: right;
}

@include generate-at-breakpoints(u-float-none) {
  float: none;
}